In [1]:
import geopandas as gpd
import osmnx as ox
from shapely.geometry import Polygon, MultiPolygon

# Load the Shapefile
shapefile_path = '../Major Towns and Cities 2015/Major_Towns_and_Cities_Dec_2015_Boundaries_V2_2022_-2549004559791541639/TCITY_2015_EW_BGG_V2.shp'
mtc_gdf = gpd.read_file(shapefile_path)

shapefile_path_scot = '../Local Authority District 2011 Boundaries GB BFC/Local_Authority_Districts_December_2011_GB_BFC_2022_-7260447689016327025/Local_Authority_Districts_December_2011_GB_BFC.shp'
mtc_gdf_scot = gpd.read_file(shapefile_path_scot)

# Ensure the GeoDataFrame has the correct coordinate reference system (CRS)
mtc_gdf = mtc_gdf.to_crs(epsg=4326)
mtc_gdf_scot = mtc_gdf_scot.to_crs(epsg=4326)

In [2]:
mtc_gdf.head()

,TCITY15CD,TCITY15NM,BNG_E,BNG_N,LONG,LAT,GlobalID,geometry
0,J01000001,Barnsley,436375,407875,-1.452250,53.5662,b8f30b00-7b1b-40f9-aa0f-8336ec877f55,"POLYGON ((-1.51419 53.59639, -1.51344 53.59638..."
1,J01000002,Basildon,572525,189350,0.488409,51.5766,f1232e18-8e80-488e-a6e4-f7ce988993ba,"MULTIPOLYGON (((0.47013 51.59274, 0.47016 51.5..."
2,J01000003,Basingstoke,463725,152600,-1.087930,51.2690,e54ea899-ecd0-43a8-9249-3f42d005c8d7,"POLYGON ((-1.04627 51.29205, -1.04698 51.29205..."
3,J01000004,Bath,374800,164325,-2.363450,51.3774,db04cdf4-2fa4-4af4-9ffb-8e7f5afcaa0a,"MULTIPOLYGON (((-2.30755 51.39668, -2.30755 51..."
4,J01000005,Bedford,505925,250450,-0.453520,52.1422,9829a7ac-85ca-40fb-9bf1-a0f325648505,"MULTIPOLYGON (((-0.42637 52.15667, -0.42635 52..."

In [3]:
mtc_gdf_scot.head()

,lad11cd,lad11cdo,lad11nm,lad11nmw,GlobalID,geometry
0,E06000001,00EB,Hartlepool,None,bab24c73-2e01-4627-802b-edf35d74bef8,"MULTIPOLYGON (((-1.26844 54.72611, -1.26821 54..."
1,E06000002,00EC,Middlesbrough,None,8f377cd6-ddc5-4e7c-92f4-f6a146668819,"MULTIPOLYGON (((-1.24921 54.59069, -1.24802 54..."
2,E06000003,00EE,Redcar and Cleveland,None,685deceb-2ba2-49a5-bba4-78e113bdf17c,"MULTIPOLYGON (((-1.13756 54.64580, -1.13779 54..."
3,E06000004,00EF,Stockton-on-Tees,None,4c82c268-56e7-4615-a069-0c5f1b898baa,"MULTIPOLYGON (((-1.31767 54.64497, -1.31762 54..."
4,E06000005,00EH,Darlington,None,388c9e1a-8532-452b-bb24-6bfd5ed1570b,"POLYGON ((-1.63767 54.61713, -1.63766 54.61669..."

In [4]:
mtc_use = ["Cardiff", "Swansea", "Newport", "Birmingham", "Bradford", "Brighton and Hove",
            "Bristol", "Cambridge", "Carlisle", "Coventry", "Derby", "Doncaster", "Exeter",
            "Leeds", "Leicester", "Lincoln", "Liverpool", "Manchester", "Newcastle upon Tyne",
            "Norwich", "Nottingham", "Oxford",  "Portsmouth", "Preston", "Salford","London",
            "Sheffield", "Southampton", "Southend-on-Sea", "Stoke-on-Trent", "Sunderland", "York"]
mtc_use_scot = ["Glasgow City", "Edinburgh, City of"]
print(len(mtc_use))

32

In [5]:
import pandas as pd
mtc1 = mtc_gdf[mtc_gdf['TCITY15NM'].isin(mtc_use)][['TCITY15NM','TCITY15CD','geometry']]
mtc2 = mtc_gdf_scot[mtc_gdf_scot['lad11nm'].isin(mtc_use_scot)][['lad11nm','lad11cd','geometry']]
mtc2.columns = mtc1.columns
mtc = pd.concat([mtc1,mtc2], axis=0, ignore_index=True)
mtc['area'] = mtc['geometry'].to_crs(epsg=3857).area
mtc.head()

,TCITY15NM,TCITY15CD,geometry,area
0,Birmingham,J01000007,"MULTIPOLYGON (((-1.75530 52.52337, -1.75529 52...",6.168126e+08
1,Bradford,J01000013,"MULTIPOLYGON (((-1.69907 53.83922, -1.69907 53...",2.003226e+08
2,Brighton and Hove,J01000014,"POLYGON ((-0.15198 50.86362, -0.15197 50.86407...",7.897562e+07
3,Bristol,J01000015,"MULTIPOLYGON (((-2.67894 51.48189, -2.67894 51...",2.895024e+08
4,Cambridge,J01000019,"MULTIPOLYGON (((0.16076 52.23550, 0.16078 52.2...",1.000203e+08

In [6]:
mtc.shape

(34, 4)

In [7]:
# Define the function to get historical OSM data from ohsome API
def get_total_line_length(geometry, date="2009-01-01", filter_='type:way'):
    base_url = "https://api.ohsome.org/v1/elements/geometry"
    
    data = {
        "bpolys": geometry,
        "time": date,
        "filter": filter_
    }
    
    response = requests.post(base_url, data=data)
    
    if response.status_code == 200:
        features = response.json()['features']
        total_length = 0.0
        
        for feature in features:
            geometry = feature['geometry']
            if geometry['type'] in ['LineString', 'MultiLineString']:
                total_length += calculate_length(geometry['coordinates'])
        
        return total_length
    else:
        print(f"Error fetching data: {response.status_code}")
        print(response.json())
        return None
    
def calculate_length(coordinates):
    """Calculate the length of a LineString or MultiLineString based on coordinates."""
    total_length = 0.0
    
    if isinstance(coordinates[0][0], list):  # It's a MultiLineString
        for line in coordinates:
            total_length += calculate_length(line)
    else:  # It's a LineString
        for i in range(len(coordinates) - 1):
            start_point = (coordinates[i][1], coordinates[i][0])
            end_point = (coordinates[i+1][1], coordinates[i+1][0])
            total_length += geodesic(start_point, end_point).meters
    
    return total_length

def polygon_to_coord_list(polygon):
    if isinstance(polygon, Polygon):
        polygon = make_valid(polygon)
        coords = list(polygon.exterior.coords)
        coord_list = ",".join([f"{x},{y}" for x, y in coords])
        return [coord_list]
    elif isinstance(polygon, MultiPolygon):
        coord_list = []
        for poly in polygon.geoms:
            poly = make_valid(poly)
            coords = list(poly.exterior.coords)
            coord_list.append(",".join([f"{x},{y}" for x, y in coords]))
        return coord_list
    else:
        raise TypeError("Unsupported geometry type")

In [8]:
filters = [
# driving
"type:way and (highway in (motorway,trunk,primary,secondary,tertiary,unclassified,residential,motorway_link,trunk_link,primary_link,secondary_link,tertiary_link))",
# cycling
"type:way and (cycleway=*)",
# cycling
"type:way and (highway=cycleway)",
# walking
"type:way and (sidewalk=*)",
# walking
"type:way and (highway=footway)",
# walking
"type:way and (footway=*)"
]

In [9]:
# initiate an empty columns for result recording
import pandas as pd

var_names = ['driving','cycling_cycleway','cycling_highway','walking_sidewalk','walking_highway','walking_footway']

for var in var_names:
    mtc[var] = [pd.NA] * mtc.shape[0]

In [10]:
mtc.head()

,TCITY15NM,TCITY15CD,geometry,area,driving,cycling_cycleway,cycling_highway,walking_sidewalk,walking_highway,walking_footway
0,Birmingham,J01000007,"MULTIPOLYGON (((-1.75530 52.52337, -1.75529 52...",6.168126e+08,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,Bradford,J01000013,"MULTIPOLYGON (((-1.69907 53.83922, -1.69907 53...",2.003226e+08,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,Brighton and Hove,J01000014,"POLYGON ((-0.15198 50.86362, -0.15197 50.86407...",7.897562e+07,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,Bristol,J01000015,"MULTIPOLYGON (((-2.67894 51.48189, -2.67894 51...",2.895024e+08,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,Cambridge,J01000019,"MULTIPOLYGON (((0.16076 52.23550, 0.16078 52.2...",1.000203e+08,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [11]:
mtc.shape

(34, 10)

In [12]:
for y in ['2019','2014','2012','2010']:
    mtc.to_csv('LAD_streetnetwork_'+y+'.csv')

In [13]:
import requests
from geopy.distance import geodesic
import re
from shapely.validation import make_valid
from tqdm import tqdm
from shapely import wkt

for y in ['2019','2014','2012','2010']:
    london = pd.read_csv('LAD_streetnetwork_'+y+'.csv')
    london['geometry'] = london['geometry'].apply(wkt.loads)
    for i, row in tqdm(london.iterrows(), total=london.shape[0]):
        if row.isna().any() or (-1 in row.values):
            geometry_list = polygon_to_coord_list(row['geometry'])
            for j in range(len(filters)):
                if pd.isna(row[var_names[j]]) or (row[var_names[j]] == -1):
                    try:
                        total_length = 0
                        for geometry in geometry_list:
                            length = get_total_line_length(geometry, y+'-01-01', filters[j])
                            total_length += length
                        london.at[i, var_names[j]] = total_length
                    except Exception as e:
                        print(f"Error fetching POI data for LSOA {row['LSOA01CD']}: {e}")
                        london.at[i, var_names[j]] = -1

            # Save the updated DataFrame to the CSV file
            if i % 3 == 0:
                london.to_csv('LAD_streetnetwork_'+y+'.csv', index=False)
    london.to_csv('LAD_streetnetwork_'+y+'.csv', index=False)

100%|██████████| 34/34 [13:49<00:00, 24.38s/it]
100%|██████████| 34/34 [13:27<00:00, 23.74s/it]
100%|██████████| 34/34 [11:50<00:00, 20.91s/it]
100%|██████████| 34/34 [10:29<00:00, 18.50s/it]

In [14]:
stats = []
for y in ['2010','2012','2014','2019']:
    mtc = pd.read_csv('LAD_streetnetwork_'+y+'.csv')
    year_stats = []
    for v in var_names:
        year_stats.append(mtc[v].sum())
    stats.append(year_stats)
stats = pd.DataFrame(stats)
stats.columns = var_names

In [15]:
stats.index = ['2010','2012','2014','2019']

In [16]:
stats

# results should delete:
# amenity_biergarten, shop_brewing_supplies, shop_cannabis

,driving,cycling_cycleway,cycling_highway,walking_sidewalk,walking_highway,walking_footway
2010,3.865244e+07,5.691761e+05,1.061138e+06,0.000000e+00,4.291475e+06,2838.107161
2012,4.329290e+07,8.248368e+05,1.292198e+06,2.697634e+04,6.461786e+06,138836.717077
2014,4.410720e+07,1.072473e+06,1.539248e+06,2.165052e+06,8.574555e+06,200682.206659
2019,4.460756e+07,1.244668e+06,2.305088e+06,4.182100e+06,1.153347e+07,567865.665253

In [18]:
# backup function

# import json
# from shapely.geometry import Polygon, MultiPolygon

# def polygon_to_geojson_feature_collection(polygon, region_id='Region'):
#     features = []

#     def format_coordinates(coords):
#         return [[list(coord) for coord in coords]]

#     if isinstance(polygon, Polygon):
#         coordinates = format_coordinates(polygon.exterior.coords)
#         feature = {
#             "type": "Feature",
#             "properties": {"id": f"{region_id} 1"},
#             "geometry": {
#                 "type": "Polygon",
#                 "coordinates": coordinates
#             }
#         }
#         features.append(feature)

#     elif isinstance(polygon, MultiPolygon):
#         for idx, poly in enumerate(polygon.geoms):
#             coordinates = format_coordinates(poly.exterior.coords)
#             feature = {
#                 "type": "Feature",
#                 "properties": {"id": f"{region_id} {idx + 1}"},
#                 "geometry": {
#                     "type": "Polygon",
#                     "coordinates": coordinates
#                 }
#             }
#             features.append(feature)
#     else:
#         raise TypeError("Unsupported geometry type")

#     feature_collection = {
#         "type": "FeatureCollection",
#         "features": features
#     }
#     return feature_collection

{'type': 'FeatureCollection', 'features': [{'type': 'Feature', 'properties': {'id': 'Region 1'}, 'geometry': {'type': 'Polygon', 'coordinates': [[[-1.5704498471484643, 54.923952175382496], [-1.5704497077420054, 54.92395207963483], [-1.5701740091293421, 54.92406343507078], [-1.570067292381269, 54.92410507449073], [-1.5699574872283233, 54.92414791875118], [-1.5698547810752077, 54.92418799326264], [-1.569747889753728, 54.924229700081426], [-1.5697289359590474, 54.92423709530048], [-1.5696262192179127, 54.92428016742882], [-1.569531771414466, 54.92431977124733], [-1.5694002422589792, 54.924374924008276], [-1.5692680481964985, 54.92443035554523], [-1.5690005287472784, 54.92455891469998], [-1.568879389802446, 54.9246171303187], [-1.5688792645069296, 54.92461702832883], [-1.5688746180357085, 54.92461321871992], [-1.5688275856568914, 54.924574662304586], [-1.5682360406280935, 54.92408970825292], [-1.5679862770907975, 54.92390418146634], [-1.567864526165285, 54.92381374343603], [-1.567676365597215, 54.92365589175873], [-1.5675707143748074, 54.92356725939693], [-1.5674895346747377, 54.923505863538836], [-1.567369577173861, 54.9234151411208], [-1.5673259811731148, 54.92338216877351], [-1.5671423107445022, 54.92318662367999], [-1.5670761947279783, 54.92307742880557], [-1.5668133924811256, 54.922577750347244], [-1.566803269557179, 54.922559596900115], [-1.5665780404222676, 54.922155676420815], [-1.566551070998287, 54.92209390424653], [-1.5663823507171073, 54.92170744753035], [-1.5663662616777834, 54.92167059642567], [-1.5663452969489084, 54.92162257676298], [-1.566311086266004, 54.92154421415614], [-1.5662840848633188, 54.921486073188206], [-1.566278782781139, 54.921474657781516], [-1.5662474706068803, 54.92140723380085], [-1.5661514485889712, 54.921200478260516], [-1.5660488212898829, 54.92099623412021], [-1.5659723788295048, 54.92084410266804], [-1.5659461934652341, 54.92079198988262], [-1.565676178099869, 54.920307208428234], [-1.5656142499675927, 54.92019602009337], [-1.565529926989056, 54.9200581152548], [-1.5655003445348217, 54.92001326468817], [-1.5654411798133971, 54.919923564431244], [-1.5654343051388122, 54.91991580980028], [-1.5652253839381682, 54.91968016145223], [-1.5651814035511062, 54.9196286687362], [-1.564676627800386, 54.91903765963447], [-1.564561730502757, 54.91890313135668], [-1.564419431031037, 54.91873651787035], [-1.5643630417992558, 54.91866642266565], [-1.564310228868563, 54.91860076962376], [-1.5641555280676485, 54.91839205610683], [-1.5639733833758835, 54.91814631273536], [-1.5639357355599992, 54.91809957087758], [-1.5637186204477735, 54.91783000197752], [-1.5634793367222526, 54.91753290605082], [-1.5632982762721006, 54.9173705014688], [-1.5632888356267995, 54.917361068729825], [-1.5630822089811955, 54.91715461430497], [-1.562749737572404, 54.91688382844927], [-1.562728246250177, 54.916865163779704], [-1.5627014725353718, 54.91684191144384], [-1.5624237426434064, 54.91660070871189], [-1.56224409891232, 54.91647443550857], [-1.5620283185920707, 54.9163227613397], [-1.5620197602390347, 54.9163167455979], [-1.5619614061049565, 54.91626797669639], [-1.5618820718576463, 54.91620167347293], [-1.5617521549398985, 54.916089437433335], [-1.5614977029355428, 54.91581836754628], [-1.5614249366275237, 54.91574757923684], [-1.5614084596803244, 54.91573155193758], [-1.5610590483383135, 54.915451713889524], [-1.5609202088663845, 54.91532754228773], [-1.5606201962842097, 54.91505922208611], [-1.5604718959941388, 54.91493456196618], [-1.5602156138714454, 54.914750581299906], [-1.5601715210571157, 54.91471892641034], [-1.5601545386739815, 54.91470269850994], [-1.5600788884599672, 54.91463041259756], [-1.560252769110625, 54.91455465731155], [-1.5606235083870852, 54.91462058685504], [-1.5611211645084975, 54.91471264560928], [-1.5614035666518176, 54.91476488492209], [-1.561494083890473, 54.914781628534456], [-1.5617599723803166, 54.91483081231511], [-1.5622997015434332, 54.91495744192012], [-1.562489883663604, 54.9149913578451], [-1.5626018426527664, 54.91501132389295], [-1.5629040104631402, 54.915062958616446], [-1.5630916036622924, 54.91509086049954], [-1.5632462214591003, 54.915113857532965], [-1.5634534934000601, 54.91514468629328], [-1.563692063682997, 54.91519016064346], [-1.5639953655157501, 54.91524797304653], [-1.5640781361475344, 54.91526374967825], [-1.5642663807262296, 54.91528551798398], [-1.5642663038431206, 54.91528570372635], [-1.5640626255494041, 54.91577802075605], [-1.5639514892490378, 54.915979938711985], [-1.563864909674494, 54.91618455067441], [-1.5638623711015172, 54.916355649183835], [-1.5645751044632616, 54.91596553388994], [-1.5648475117354141, 54.915890240692384], [-1.5655292159889636, 54.91588188354358], [-1.5656244728817212, 54.91586404618546], [-1.565981552072677, 54.91572658860648], [-1.5659850806071771, 54.915724858742365], [-1.5661531350077516, 54.915818704499856], [-1.5662210851823681, 54.915856649182366], [-1.566345105898522, 54.915928982403614], [-1.5664690305292452, 54.91601030152029], [-1.5670113392265907, 54.916353715387125], [-1.5674759487096852, 54.916669891398605], [-1.5674829201320453, 54.91667442644811], [-1.5682369318396048, 54.917164941198905], [-1.5682815454097507, 54.91719396287608], [-1.5693507306733254, 54.917871730727676], [-1.5693816428744058, 54.917898799268336], [-1.5694681726752722, 54.917953352684975], [-1.5699550103807256, 54.91826028249158], [-1.5703646859681537, 54.918506420015845], [-1.5704791834569474, 54.91857381056182], [-1.570854559461445, 54.9187577097539], [-1.5710409031111623, 54.91883924436977], [-1.5712894579505643, 54.91893897072348], [-1.5714708863093807, 54.919018996511426], [-1.5719261172400898, 54.91921979037888], [-1.572143475622009, 54.91931940516641], [-1.57223941115208, 54.919380941520444], [-1.5722984329303125, 54.91941880013752], [-1.5724083099072617, 54.919511421568934], [-1.5724093904605663, 54.91951192051619], [-1.5724098917725076, 54.91951275531408], [-1.572437600000692, 54.91953611211629], [-1.5724528197449061, 54.91957211105378], [-1.5724997167340604, 54.91956328954474], [-1.5725145773967772, 54.91956044008314], [-1.5733282585113701, 54.91940444455218], [-1.5751260101279705, 54.91906027005673], [-1.5763608006314644, 54.918839918407414], [-1.5765482873737053, 54.91881361224497], [-1.5766391606924124, 54.91882047696101], [-1.576672995600084, 54.91882303273189], [-1.5765596369059531, 54.91904644964949], [-1.5764818308184436, 54.91919979422959], [-1.5764672208735804, 54.91923527990442], [-1.5764527213568855, 54.91927049816842], [-1.576399908232077, 54.919330432070495], [-1.5759566240965117, 54.919394983817796], [-1.5755531587084655, 54.91947527233523], [-1.575561351997414, 54.91947916955502], [-1.575623376696409, 54.91949466908852], [-1.5757440065851207, 54.91951927581853], [-1.5761848708128967, 54.919792839774566], [-1.5763823794005272, 54.91975660201789], [-1.5763811953913014, 54.919869386554105], [-1.5763331278769563, 54.91988483471717], [-1.5763240947899282, 54.91989017799087], [-1.5760043995384279, 54.9199403346812], [-1.5759011422875835, 54.91996155540795], [-1.5756338468159603, 54.92030998205279], [-1.5756315445948457, 54.920311264460764], [-1.575533575752005, 54.92037276400059], [-1.5759427494219849, 54.92058151731879], [-1.5759687273819707, 54.92074009844456], [-1.575691632124874, 54.9208599266658], [-1.575689032093434, 54.92086148571422], [-1.5756553934826028, 54.92088164696562], [-1.575796257409011, 54.921007545629514], [-1.575839548343294, 54.92108568559046], [-1.5759759476173354, 54.92111707694946], [-1.57621962243709, 54.92111691975152], [-1.5764206794266764, 54.92132216213159], [-1.5766159078534558, 54.921405195524905], [-1.576794191304355, 54.92134160849869], [-1.5768667335522124, 54.92131573576162], [-1.5768736869678084, 54.92133659661129], [-1.576919083550744, 54.92147276030428], [-1.5769437816386116, 54.921546840750345], [-1.576947273607415, 54.92156854235986], [-1.5769754173616768, 54.92174345987275], [-1.576980400425342, 54.92177443519158], [-1.5769462623474593, 54.92194653632207], [-1.576926050110155, 54.92204843776057], [-1.576924290771799, 54.92205731015766], [-1.5769034951486274, 54.9220965468237], [-1.5768654564542044, 54.922168319698066], [-1.5768189624265163, 54.922256044471446], [-1.5767932242884877, 54.92230460703211], [-1.5767600129037687, 54.922367271925744], [-1.5767385945842722, 54.922407683607496], [-1.5767014482806307, 54.92247777009907], [-1.576674770132063, 54.92252295678383], [-1.576651511909999, 54.922562348385235], [-1.5766445067829724, 54.92257421384545], [-1.5766289763654397, 54.922600518556315], [-1.5765473227842455, 54.922689891143015], [-1.5765184891252324, 54.92272144967399], [-1.5765000135196614, 54.922740256684904], [-1.5764927904346981, 54.92274761022848], [-1.5764236475190148, 54.922817990502196], [-1.57642201364797, 54.922819653577776], [-1.5764147999993974, 54.922826997264515], [-1.5763997150679305, 54.92284235182961], [-1.5762821072254836, 54.92295108411977], [-1.5762307065722931, 54.92299860550045], [-1.5761303942835239, 54.923091346479076], [-1.576119662283365, 54.923106698205935], [-1.5760360047467368, 54.923226360047764], [-1.5759847774851488, 54.92329963411555], [-1.575935783599558, 54.9233697123136], [-1.5758881930382853, 54.92343778334058], [-1.5758464982828135, 54.923497422346564], [-1.5758270662504805, 54.923525216763196], [-1.575792910038413, 54.923574071459385], [-1.5757819781887716, 54.923589708224625], [-1.575744020007864, 54.92364400256418], [-1.5757437808148658, 54.92364434410985], [-1.5757135931390307, 54.92369503685489], [-1.5756642533243495, 54.923777887831854], [-1.5756264970445253, 54.92384128780877], [-1.5754999837654395, 54.924053730288776], [-1.5754603400095475, 54.92412029760373], [-1.5754239411187345, 54.92418141882142], [-1.5753915051185585, 54.92423588329418], [-1.5753595995242453, 54.92428945906243], [-1.5753524945992152, 54.92430021608059], [-1.575321807484035, 54.92434667800446], [-1.5752074841566857, 54.924519764772825], [-1.5751919645437515, 54.924539103113815], [-1.5751905368448902, 54.92454088281658], [-1.57519051944557, 54.924540905221676], [-1.5751427714932555, 54.924600407812555], [-1.5751328772174251, 54.92461273757062], [-1.5750947080649706, 54.92465577645996], [-1.5750808486063983, 54.924671402933086], [-1.575053953908064, 54.92470172866692], [-1.5750539238940287, 54.924701763608816], [-1.57495213973525, 54.92474916232431], [-1.574770210910408, 54.924833882376085], [-1.5745084884918523, 54.92492742172853], [-1.5744681330364523, 54.92494184472817], [-1.574250418893411, 54.92501965410807], [-1.5741601993259524, 54.92504639348212], [-1.574051350299063, 54.92507865346654], [-1.5738396356031035, 54.925141400431876], [-1.5738121563604808, 54.92514954463311], [-1.5736108775208326, 54.925234482712796], [-1.5735369372378893, 54.925265685597545], [-1.573470281813947, 54.92529381279419], [-1.5734603739155784, 54.9252983637839], [-1.573370925200788, 54.92533945018602], [-1.5733587296325597, 54.92534505173537], [-1.573255363490338, 54.92539253065002], [-1.5732433576160634, 54.92539804478712], [-1.5731851093793516, 54.92542479945389], [-1.5731553014710853, 54.92543120276723], [-1.5730999738316194, 54.92544308894353], [-1.5730776554183254, 54.92544788300823], [-1.5729974961079645, 54.92546510344268], [-1.57290214185446, 54.92548558733181], [-1.5728790966202695, 54.925483716328415], [-1.572757919762977, 54.92547387754682], [-1.5726853402774923, 54.92546798365104], [-1.572668092450933, 54.92546310008163], [-1.572667415734175, 54.925462908092136], [-1.5726288224152432, 54.92545198258586], [-1.572596395844448, 54.92544280141996], [-1.5725249466626503, 54.925422572780256], [-1.5725185932786543, 54.925420773849936], [-1.5724859750420643, 54.92540553607965], [-1.572479627771946, 54.92540257163917], [-1.5724402508535242, 54.925384176560385], [-1.5723961942672537, 54.925363595712355], [-1.5723356702950777, 54.92533532214641], [-1.5723089015555127, 54.92530171972153], [-1.572221906475023, 54.92519252169476], [-1.5721629198973281, 54.925118480574135], [-1.572157954654309, 54.92511100174223], [-1.5720707643539236, 54.92497968481093], [-1.5720581247936716, 54.92496064768922], [-1.5720475355268335, 54.92494469830099], [-1.5719668699446345, 54.92482320655849], [-1.571955936713954, 54.924806741033414], [-1.571933755479065, 54.924773332595755], [-1.5719239787208832, 54.92475860819935], [-1.5718986215644546, 54.9247204159263], [-1.571885518348714, 54.92470068161008], [-1.5718452044205704, 54.92463996271431], [-1.571793037962571, 54.92458340948735], [-1.5717879120299914, 54.92457785225426], [-1.5716923953015076, 54.92447430050701], [-1.5716826547735558, 54.924466319575956], [-1.5716407041669154, 54.92443194911899], [-1.5716393831549702, 54.92443086700309], [-1.571629330168624, 54.92442263155214], [-1.5715910302302156, 54.92439125021453], [-1.571533359204152, 54.92434399992559], [-1.5714706525808215, 54.92431150003803], [-1.5714251876308103, 54.924287935792485], [-1.5713743707233452, 54.92426159835273], [-1.571354745685571, 54.92425142673571], [-1.57128022896697, 54.9242128058605], [-1.5709935095005725, 54.92413290730969], [-1.570941031616388, 54.9241182829309], [-1.570922108276913, 54.924113010382136], [-1.570627314728951, 54.924030859256646], [-1.5705208614006643, 54.92400119419439], [-1.5704579014530293, 54.92395773492708], [-1.5704498471484643, 54.923952175382496]]]}}]}