In [1]:
import pandas as pd

In [2]:
participants = pd.read_csv('../LSOA_participants_unique.csv', index_col=None)

In [3]:
participants.head()

,Unnamed: 0,LSOA_code,id,area,LSOA11NM,TCITY15CD,TCITY15NM,FID
0,1,E01000001,3930876,London,City of London 001A,J01000055,London,1.0
1,2,E01000001,4650325,London,City of London 001A,J01000055,London,1.0
2,3,E01000001,3118216,London,City of London 001A,J01000055,London,1.0
3,4,E01000001,2126547,London,City of London 001A,J01000055,London,1.0
4,5,E01000001,5323908,London,City of London 001A,J01000055,London,1.0

In [4]:
participants.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
participants = participants[participants['TCITY15NM']=="London"]

In [6]:
len(participants['LSOA_code'].unique())

2936

In [8]:
for y in ['2010','2012','2014','2019']:
    london_substance = pd.read_csv('london_walking_intersections_'+y+'.csv', index_col=None)
    london_substance = london_substance[['LSOA01CD','walking_highway_intersections']]
    merged_data = participants.merge(london_substance, left_on='LSOA_code', right_on='LSOA01CD', how='left')
    merged_data.to_csv('london_walking_intersections_'+y+'_participants.csv')
    print(merged_data[['walking_highway_intersections']].isna().sum().sum())

0
0
0
0