In [1]:
import pandas as pd

In [2]:
participants = pd.read_csv('../LSOA_participants_unique_v2.csv', index_col=None)

In [3]:
participants.head()

,Unnamed: 0,LSOA_code,id,area,LSOA11NM,TCITY15CD,TCITY15NM,FID
0,1,E01000001,3930876,London,City of London 001A,J01000055,London,1.0
1,2,E01000001,4650325,London,City of London 001A,J01000055,London,1.0
2,3,E01000001,3118216,London,City of London 001A,J01000055,London,1.0
3,4,E01000001,2126547,London,City of London 001A,J01000055,London,1.0
4,5,E01000001,5323908,London,City of London 001A,J01000055,London,1.0

In [4]:
participants.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
len(participants['TCITY15NM'].unique())

137

In [6]:
participants.shape

(481204, 7)

In [7]:
for y in ['2010','2012','2014','2019']:
    mtc_poi = pd.read_csv('LAD_walking_intersections_'+y+'.csv', index_col=None)
    mtc_poi['TCITY15NM'] = mtc_poi['TCITY15NM'].replace('Edinburgh, City of', 'City of Edinburgh')
    mtc_poi = mtc_poi[['TCITY15NM','walking_highway_intersections']]
    merged_data = participants.merge(mtc_poi, left_on='TCITY15NM', right_on='TCITY15NM', how='left')
    merged_data.to_csv('LAD_walking_intersections_'+y+'_participants.csv')
    print(merged_data[['walking_highway_intersections']].isna().sum().sum())

301148
301148
301148
301148

In [8]:
merged_data['alcohol'].isna().sum()

301148

In [9]:
merged_data.shape

(481204, 15)

In [10]:
mtc_use = ["Cardiff", "Swansea", "Newport", "Birmingham", "Bradford", "Brighton and Hove",
            "Bristol", "Cambridge", "Carlisle", "Coventry", "Derby", "Doncaster", "Exeter",
            "Leeds", "Leicester", "Lincoln", "Liverpool", "Manchester", "Newcastle upon Tyne",
            "Norwich", "Nottingham", "Oxford",  "Portsmouth", "Preston", "Salford","London",
            "Sheffield", "Southampton", "Southend-on-Sea", "Stoke-on-Trent", "Sunderland", "York"]
mtc_use_scot = ["Glasgow City", "City of Edinburgh"]
merged_data['TCITY15NM'].isin(mtc_use+mtc_use_scot).sum()

180056

In [21]:
# Initialize an empty DataFrame to store results
count = []
for c in mtc_use+mtc_use_scot:
    count.append(merged_data[merged_data['TCITY15NM']==c].shape[0])
    print(merged_data[merged_data['TCITY15NM']==c].shape[0])

7871
1276
1594
12245
3570
26
16908
3
6
8
2519
302
3
9318
5
5
8434
5441
6349
3
4509
3696
1
3
662
54004
13271
1
5
6997
2758
28
6805
11430